<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">


    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">

   <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}" >
  </head>

  
  <body>

   
    <div class="banner">
      <h1>Fox Valley Harmonizers</h1>
      <p>Chasing Harmony One Chord at at Time</p>
    </div>

  
    
  {{ content }}

<footer class="site-footer">
  <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
</footer>

  </body>

</html>
